<!-- Footer -->
<footer class="fixed-bottom" style="background-color: black;">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-light">© 2020 Copyright: BloggerApp</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->